    <div class="card-title">List of Organizations</div>
    <div class="card-category">Page Subtitle</div>
</div>
<br />

<div class="row">
  <div class="col-md-6">
    <form class="navbar-left navbar-form nav-search mr-md-3" action="" method="get">
      <div class="input-group">
        <input type="text" name="q" placeholder="Search ..." class="form-control" />
        <div class="input-group-append">
          <span class="input-group-text">
            <i class="la la-search search-icon"></i>
          </span>
        </div>
      </div>
    </form>
  </div>

  <div class="col-md-6">
    <div class="pull-right">
      <a href="{% url 'organization-add' %}" class="btn btn-success btn-rounded">
        Add Organization
      </a>
    </div>
  </div>
</div>
<div class="card-body"></div>

<thead>
  <tr>
    <th scope="col">Description</th>
    <th scope="col">Action</th>
  </tr>
</thead>
<tbody>
  {% for object in object_list %}
  <tr>
    <td>{{ object.description }}</td>
    <td>
      <a href="{% url 'organization-edit' object.id %}">Edit</a>
    </td>
  </tr>
  {% empty %}
  <tr>
    <td colspan="2" style="text-align: center;">
      <p class="text-sm font-weight-bold mb-0">No Records Found</p>
    </td>
  </tr>
  {% endfor %}
</tbody>


<th scope="col">Description</th>
<thead>
  <tr>
    <th scope="col">Description</th>
    <th scope="col">Action</th>
  </tr>
</thead>
<tbody>
  {% for object in object_list %}
  <tr>
    <td>{{ object.description }}</td>
    <td>
      <a href="organization_list/{{ object.id }}">Edit</a>
    </td>
  </tr>
  {% empty %}
  <tr>
    <td colspan="2" style="text-align: center;">
      <p class="text-sm font-weight-bold mb-0">No Records Found</p>
    </td>
  </tr>
  {% endfor %}
</tbody>




