{% extends 'base.html' %}

{% block content %}
<div class="breadcrumb mb-3">
  <a href="{% url 'home' %}">Home</a> &gt;
  <a href="{% url 'organization-list' %}">Organization</a> &gt;
  List
</div>

<div class="card-title">List of Organizations</div>
<div class="card-category">Page Subtitle</div>

<div class="row mb-3">
  <div class="col-md-6">
    <form class="form-inline">
      <input type="text" class="form-control" placeholder="Search..." />
    </form>
  </div>
  <div class="col-md-6 text-right">
    <a href="{% url 'organization-add' %}" class="btn btn-success">Add Organization</a>
  </div>
</div>

<div class="card-body">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>College</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for object in organization %}
        <tr>
          <td>{{ object.name }}</td>
          <td>{{ object.college }}</td>
          <td>{{ object.description }}</td>
          
          <td>
            <a href="{% url 'organization-update' object.pk %}" class="btn btn-sm btn-primary">Edit</a>
            <a href="{% url 'organization-delete' object.pk %}" class="btn btn-sm btn-danger">Delete</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4" class="text-center">No Records Found</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}


